{% extends "wrapper.html" %}

{% block body %}
<h1>News Spectrum <img src="static/myspectrum.png" /></h1>
<h2><span class="topic-title-text">Topic: <span class="topic-title">{{ topic }}</span></span></h2>

<div class="browse-column col-md-2">
  <table class="table table-hover">
    <tr><th class="grade-level">Level</th><th>Source</th></tr>
    {% for article in articles %}
    <tr><td class="grade-level">{{ article['grade_level'] }}</td><td><a id="article-link-{{ article['i'] }}" class="article-link" href="{{ article['url'] }}">{{ article['domain'] }}</a></td></tr>
    {% endfor %}
  </table>
</div>
<div class="article-box col-md-10">
  {% for article in articles %}
  <div class="article" id="article-{{ article['i'] }}">
	<div class="source-ref">
	  Source: <a href="{{ article['url'] }}">{{ article['url'] }}</a>
    </div>
    <h3> <span class="article-title">{{ article['title'] }}</span></h3>
	<div class="article-body">
      {{ article['body'] }}
    </div>
  </div>
  {% endfor %}
  <!-- <iframe class="article-frame" width="1100px" height="80%" src="http://www.theregister.co.uk/2014/01/21/milky_way_inside_out/" /> -->
</div>
{% endblock %}

{% block js %}
    <script src="static/articles.js"></script>
{% endblock %}
