body {
	margin-left: 20px;
	margin-right: 20px;
}

.landing {
  padding-top: 50px;
}

.landing h1 {
  font-size: 500%;
}

img.banner-spectrum {
	margin-top:    2em;
	margin-bottom: 2em;
	width: 80%;
	height: 35px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.article-body {
	/* font-size: larger; */
	/* color: #505050; */
}

.article-title {
	/* color: #900000; */
	/* font-size: 150%; */
}


.topic-title {
	font-style: italic;
	/* color: #909090; */
}
.topic-title-text {
	/* font-size: 70%; */
}

h1 > img {
	height: .5em; /* 83px actual */
	width: 857px;
}

.grade-level {
	font-size: smaller;
	color: #909090;
}

.article-publisher {
	/* font-size: 150%; */
	font-style: italic;
}

.spectrum-marker {
    fill:         #2d578b;
    stroke:       white;
    stroke-width: 2;
}
.spectrum-marker:hover {
    fill: red;
}