{% extends "wrapper.html" %}

{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">News Spectra</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="examples">Examples <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="examples">
		{% for example in examples %}
                <li><a tabindex="-1" href="?url={{ example[0] }}">{{ example[1] }}</a></li>
		{% endfor %}
                <!-- <li class="divider"></li> -->
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right" action="#" method="get">
            <input class="form-control col-lg-9" placeholder="New article URL" type="text" size="40" name="url">
          </form>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-12">
	    <svg class="spectrum"></svg>
          </div>
        </div>
      </div>
    </div>


<iframe class="article-frame" id="ifm" style="width: 100%; height: 800px;" src="{{ current_url }}">
</iframe>


{% endblock %}

{% block js %}
    <script src="static/articles.js"></script>
    <script src="static/d3.v3.min.js"></script>
    <script>
    var json_url = "{{ json_url }}"
    </script>
    <script src="static/articles.js"></script>
{% endblock %}
