{% extends "wrapper.html" %}

{% block body %}
<div class="landing">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Examples <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="examples">
		{% for example in examples %}
                <li><a tabindex="-1" id="example-{{ loop.index }}" href="#">{{ example[1] }}</a></li>
		{% endfor %}
                <!-- <li class="divider"></li> -->
              </ul>
            </li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right">
	    <li><a title="" data-placement="bottom" data-toggle="tooltip" data-original-title="A project created as part of the Insight Data Science Fellows Program" href="http://insightdatascience.com/">Insight Data Science</a></li>
            <li><a href="http://slid.es/aww/news-spectrum">Slides</a></li>
          </ul>
        </div>
      </div>
    </div>

  <div class="container">
	
    <div class="starter-template">
      <h1>News Spectra</h1>
      <img class="banner-spectrum" src="static/myspectrum.png" width="857" height="83" />
      <p class="lead">From a current news article on technology, health, or science<br/>
		find a spectrum of articles on the same topic.</p>
      <form class="form-inline" role="form" action="/articles" method="get">
        <div class="form-group">
          <input type="url" class="form-control" id="url" name="url" placeholder="Enter an article URL" size="100">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Go</button>
      </form>                                 
    </div>

  </div><!-- /.container -->

</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function(){
  {% for example in examples %}
  $("#example-{{ loop.index }}").click(function(event){
    event.preventDefault()
    $("#url").val("{{ example[0] }}");
  });
  $(function () {
    $("[data-toggle='tooltip']").tooltip();
  });
  {% endfor %}
});
</script>
{% endblock %}
